
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
}

.header{
    background:#F5F5F5 ;
    display: flex;
    width: 100%;
    top: 0;
    color: black;
    height: 90px;
}  



.brand{
	text-decoration: none;
	margin-left: 16px;
}

.m{
    color: #00aced;
    text-transform: lowercase;
    font-size: 20px;
    font-weight: bold;
    
   
}

.nav {
	display: inline;
	width: 1048px;
	position: relative;
}

.header-container {
	height: 32px;
	margin-top: 15px;
}

.tracker{
    color: blue;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    /* font-family: 'Berkshire Swash', cursive; */
}

.a{
    text-decoration: none;
    color: black;
}

#sign-up{
    padding: 5px

}

li {
    list-style: none;
    float: right;
}

/* dropedown */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
} 

/* li {
    float: left;
} */

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
		color: blue;
		border-bottom: 4px solid blue;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;

    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;

    /* ends dropdown */
}


.main_container{
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: gray;
    box-shadow: 0 20px 60px rgba(0,0,0,0.3);

    min-height: 500px;

}

.content{
	display: flex;
	top: 86px;
}


.sidebar{
    background-color: #062351;
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.side-nav_icon {
	height: 32px;
	width: 32px;
}

.icon {
	height: 32px;
	width: 32px;
}

.side-nav{
    font-size: 14px;
    list-style: none;
    margin-top:35px;
}

.side-nav_link{
    display: flex;
    align-items: center;
}

.user{
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 25px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
} 
.a{
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    float: left;
}

.history{
    padding-bottom: 20px;
    padding-top: 45px;
    background-color: white;
    color: #5E4919;
    text-align: center;
    text-transform: uppercase;
}

.name, .phone-number, .email, .address {
    margin-top: 40px;
}

.table-table_striped {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    height: 50%;
}


table{
    border-collapse: collapse;
    width: 100%; 
}

th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {background-color: #f2f2f2;}

.table_container{
    display: table-column;
    flex: 1;
    height: 880px;
    padding: 0px;
    background-color: white
}

.client-history {
    color: #5E4919;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 5px;
}

th{
    padding: 10px;
    background-color: blue;
    color: white;
    text-transform: uppercase;

}

td a {
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}

button{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: blue;
    color: white;

}

.content{
    display: flex;
    
}

.copyright{
    display: inline;
}

.footer {
    padding: 30px;
    background-color: #F5F5F5;
    color: black;
    /* margin-top: 60px; */
    width: 1349px;
    height: 30px;

}
.contact-row {
   display: flex;
   justify-content: space-between;
   width: 80%;
   margin: 0 auto;
}

.link{
    text-decoration: none;
    color: black;
    float: right;
}
